In [1]:
# importing libraries
import pandas as pd
from sklearn import svm

# reading training data
df = pd.read_csv('train.csv')
df.columns = ['out','ft1','ft2']
#df.head()
# extract the rows which have label 1 or 5
df1 = df[(df['out']==1) | (df['out']==5)]
#df1.head()
df1.info()
# instance of linear SVM
clf = svm.SVC(kernel='linear')
#print(df1[df1.columns[1:]])
#print(df1[df1.columns[:1]])
# fit the model
clf.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1561 entries, 1 to 7290
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   out     1561 non-null   float64
 1   ft1     1561 non-null   float64
 2   ft2     1561 non-null   float64
dtypes: float64(3)
memory usage: 48.8 KB

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# reading test data
testdf = pd.read_csv('test.csv')
testdf.columns = ['out','ft1','ft2']
testdf.head()

   out       ft1       ft2
0  9.0  0.272178 -4.847937
1  6.0  0.265133 -5.102000
2  3.0  0.335926 -2.921562
3  6.0  0.264850 -4.156625
4  6.0  0.345338 -6.718438

In [ ]:
testdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2007 entries, 0 to 2006
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   out     2007 non-null   float64
 1   ft1     2007 non-null   float64
 2   ft2     2007 non-null   float64
dtypes: float64(3)
memory usage: 47.2 KB

In [ ]:
# extractig rows with label 1 or 5
testdf15 = testdf[(testdf['out']==1)|(testdf['out']==5)]
testdf15.head()

    out       ft1       ft2
16  1.0  0.159934 -1.742000
32  5.0  0.324840 -6.360563
36  5.0  0.251180 -4.389375
42  1.0  0.124609 -0.474438
45  1.0  0.219117 -0.904500

In [ ]:
testdf15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 16 to 2006
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   out     424 non-null    float64
 1   ft1     424 non-null    float64
 2   ft2     424 non-null    float64
dtypes: float64(3)
memory usage: 13.2 KB

In [ ]:
# predicting the labels for test data and calculating the mean accuracy
clf.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]])

0.9787735849056604

In [ ]:
# calculating the number of support vectors
print("num of support vectors using full data: ",clf.n_support_)

num of support vectors using full data:  [14 14]

# 4b

In [ ]:
# training using first 50 samples
clf50 = svm.SVC(kernel='linear')
clf50.fit(df1[df1.columns[1:]].head(50),df1[df1.columns[:1]].head(50))
print(clf50.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))
print(clf50.n_support_)

0.9811320754716981
[1 1]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# training using first 100 samples
clf100 = svm.SVC(kernel='linear')
clf100.fit(df1[df1.columns[1:]].head(100),df1[df1.columns[:1]].head(100))
print(clf100.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))
print(clf100.n_support_)

0.9811320754716981
[2 2]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# training using first 200 samples
clf200 = svm.SVC(kernel='linear')
clf200.fit(df1[df1.columns[1:]].head(200),df1[df1.columns[:1]].head(200))
print(clf200.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))
print(clf200.n_support_)

0.9811320754716981
[4 4]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# training using first 800 samples
clf800 = svm.SVC(kernel='linear')
clf800.fit(df1[df1.columns[1:]].head(800),df1[df1.columns[:1]].head(800))
print(clf800.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))
print(clf800.n_support_)

0.9811320754716981
[7 7]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 4c.(i)

In [ ]:
# polynomial kernel degree 2, C = 0.0001
clfp2 = svm.SVC(C=0.0001,kernel='poly', degree=2,coef0=1)
clfp2.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print(1-clfp2.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))

# polynomial kernel degree 5, C = 0.0001
clfp5 = svm.SVC(C=0.0001,kernel='poly', degree=5,coef0=1)
clfp5.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print(1-clfp5.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# 4C.i False

0.25368353619474693
0.018577834721332454

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 4c.(ii)

In [ ]:
# polynomial kernel degree 2, C = 0.001
clf1p2 = svm.SVC(C=0.001,kernel='poly', degree=2,coef0=1)
clf1p2.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# num of support vectors
print(clf1p2.support_.size)

# polynomial kernel degree 5, C = 0.001
clf1p5 = svm.SVC(C=0.001,kernel='poly', degree=5,coef0=1)
clf1p5.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# num of support vectors
print(clf1p5.support_.size)
# 4C.ii True

456
72

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 4c.(iii)

In [ ]:
# polynomial kernel degree 2, C = 0.01
clf2p2 = svm.SVC(C=0.01,kernel='poly', degree=2,coef0=1)
clf2p2.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print(1-clf2p2.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))

# polynomial kernel degree 5, C = 0.0001
clf2p5 = svm.SVC(C=0.01,kernel='poly', degree=5,coef0=1)
clf2p5.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print(1-clf2p5.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# 4C.iii False

0.005124919923126248
0.004484304932735439

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 4c.(iv)

In [ ]:
# polynomial kernel degree 2, C = 1
clf3p2 = svm.SVC(C=1,kernel='poly', degree=2,coef0=1)
clf3p2.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# test error
print(1-clf3p2.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# polynomial kernel degree 5, C = 0.0001
clf3p5 = svm.SVC(C=1,kernel='poly', degree=5,coef0=1)
clf3p5.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# test error
print(1-clf3p5.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))
# 4C.iv False

0.021226415094339646
0.02358490566037741

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# 4d

In [ ]:
# RBF kernel , C = 0.01
clf001 = svm.SVC(C=0.01,gamma=1)
clf001.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print("train error C=0.01:")
print(1-clf001.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# test error
print("test error C=0.01:")
print(1-clf001.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# RBF kernel , C = 1 
clf1 = svm.SVC(C=1,gamma=1)
clf1.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print("train error C=1:")
print(1-clf1.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# test error
print("test error C=1:")
print(1-clf1.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# RBF kernel , C = 100 
clf100 = svm.SVC(C=100,gamma=1)
clf100.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print("train error C=100:")
print(1-clf100.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# test error
print("test error C=100:")
print(1-clf100.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# RBF kernel , C = 10^4 
clf10_4 = svm.SVC(C=10**4,gamma=1)
clf10_4.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print("train error C=10^4:")
print(1-clf10_4.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# test error
print("test error C=10^4:")
print(1-clf10_4.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# RBF kernel , C = 10^6 
clf10_6 = svm.SVC(C=10**6,gamma=1)
clf10_6.fit(df1[df1.columns[1:]],df1[df1.columns[:1]])
# training error
print("train error C=10_6:")
print(1-clf10_6.score(df1[df1.columns[1:]],df1[df1.columns[:1]]))
# test error
print("test error C=10_6:")
print(1-clf10_6.score(testdf15[testdf15.columns[1:]],testdf15[testdf15.columns[:1]]))

# train error is least for C=10^6
# test error is least for C=100

train error C=0.01:
0.0038436899423446302
test error C=0.01:
0.02358490566037741
train error C=1:
0.004484304932735439
test error C=1:
0.021226415094339646
train error C=100:
0.0032030749519538215
test error C=100:
0.018867924528301883
train error C=10^4:
0.002562459961563124
test error C=10^4:
0.02358490566037741
train error C=10_6:
0.0006406149903908087
test error C=10_6:
0.02358490566037741

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Question 5

In [3]:
df5_X_train = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/gisette/GISETTE/gisette_train.data",header=None,delimiter=' ')
df5_X_train.drop(columns=df5_X_train.columns[-1],axis=1,inplace=True)
df5_X_train.head()

   0     1     2     3     4     5     ...  4994  4995  4996  4997  4998  4999
0   550     0   495     0     0     0  ...   991     0     0     0     0   983
1     0     0     0     0     0     0  ...     0     0   991     0     0     0
2     0     0     0     0     0     0  ...     0     0     0     0     0     0
3     0     0   742     0     0     0  ...     0     0   674     0     0   838
4     0     0     0     0     0     0  ...     0     0     0     0     0     0

[5 rows x 5000 columns]

In [4]:
df5_y_train = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/gisette/GISETTE/gisette_train.labels",header = None,delimiter=' ')
df5_y_train.head()

   0
0  1
1 -1
2  1
3  1
4  1

In [5]:
df5_X_test = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/gisette/GISETTE/gisette_valid.data",header=None,delimiter=' ')
df5_X_test.drop(columns=df5_X_test.columns[-1],axis=1,inplace=True)
df5_X_test.head()

   0     1     2     3     4     5     ...  4994  4995  4996  4997  4998  4999
0   688     0     0     0     0     0  ...     0     0   494     0   769     0
1   778   758     0     0     0     0  ...     0     0     0     0     0     0
2   469     0   816     0     0     0  ...     0     0     0   417     0     0
3     0     0     0     0     0   571  ...     0     0     0     0     0     0
4     0     0     0     0     0     0  ...     0     0     0     0   976     0

[5 rows x 5000 columns]

In [6]:
df5_Y_test = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/gisette/gisette_valid.labels",header = None,delimiter=' ')
df5_Y_test.head()

   0
0  1
1  1
2 -1
3  1
4  1

In [20]:
clf5_lin = svm.SVC(kernel='linear')
clf5_lin.fit(df5_X_train,df5_y_train)
print("train error: ")
print(1-clf5_lin.score(df5_X_train,df5_y_train))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

train error:
0.0

In [21]:
print("test error: ")
print(1-clf5_lin.score(df5_X_test,df5_Y_test))

test error:
0.02400000000000002

In [22]:
print("Number of support vectors: ")
print(clf5_lin.support_.size)

Number of support vectors:
1084

# Question 5 Part (b) RBF kernel

In [7]:
clf5_rbf = svm.SVC(gamma=0.001)
clf5_rbf.fit(df5_X_train,df5_y_train)
print("train error: ")
print(1-clf5_rbf.score(df5_X_train,df5_y_train))
print("test error: ")
print(1-clf5_rbf.score(df5_X_test,df5_Y_test))
print("Number of support vectors: ")
print(clf5_rbf.support_.size)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

train error:
0.0
test error:
0.5
Number of support vectors:
6000

# Question 5 part (b) Polynomial Kernel

In [8]:
clf5_poly = svm.SVC(kernel='poly',degree=2,coef0=1)
clf5_poly.fit(df5_X_train,df5_y_train)
print("train error: ")
print(1-clf5_poly.score(df5_X_train,df5_y_train))
print("test error: ")
print(1-clf5_poly.score(df5_X_test,df5_Y_test))
print("Number of support vectors: ")
print(clf5_poly.support_.size)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

train error:
0.0004999999999999449
test error:
0.020000000000000018
Number of support vectors:
1332